@media (max-width: 768px)
{
    .new-navbar{
        margin-left:-15px;
        margin-right:-15px}
}
@media (min-width: 768px)
{
    .new-navbar{
        position:fixed;
        margin:0 -15px;
        height:100vh;
        width:inherit;
        overflow:auto;
        border-top-width:0;
        border-bottom-width:0;
        border-radius:0
    }
    .new-navbar .container,.new-navbar .container-fluid{
        width:auto;
        padding-left:0;
        padding-right:0
    }
    .new-navbar .navbar-header{
        float:none
    }
    .new-navbar .navbar-brand{
        height:auto
    }
    .new-navbar>.container .navbar-brand,.new-navbar>.container-fluid .navbar-brand{
        margin-left:0
    }
    .new-navbar .navbar-collapse{
        width:100%;
        border-top:1px solid #e7e7e7
    }
    .new-navbar .navbar-nav{
        float:none;
        margin:0 -15px
    }
    .new-navbar .navbar-nav>li{
        float:none
    }
    .new-navbar .navbar-nav>li>a{
        padding-top:10px;
        padding-bottom:10px;
        border-bottom:1px solid #e7e7e7
    }
    .new-navbar .navbar-form{
        margin:0;
        margin-left:-15px;
        margin-right:-15px;
        padding:10px 15px;
        border-bottom:1px solid #e7e7e7
    }
    .new-navbar .navbar-text{
        float:none;
        margin-left:0;
        margin-right:0
    }
    .new-navbar .navbar-left,.new-navbar .navbar-right{
        float:none !important
    }
    .new-navbar .navbar-nav .dropdown-menu{
        position:static;
        float:none;
        width:auto;
        margin-top:0;
        background-color:transparent;
        border:0;
        box-shadow:none;
        border-bottom:1px solid #e7e7e7
    }
    .new-navbar .navbar-nav .dropdown-menu>li>a,.new-navbar .navbar-nav .dropdown-menu .dropdown-header{
        padding:5px 15px 5px 25px
    }
    .new-navbar .navbar-nav .dropdown-menu>li>a{
        line-height:20px;color:#777
    }
    .new-navbar .navbar-nav .dropdown-menu>li>a:hover,.new-navbar .navbar-nav .dropdown-menu>li>a:focus{
        background-image:none
    }
    .new-navbar .navbar-nav .dropdown-menu>.active>a{
        background-color:#e7e7e7;
        color:#555
    }
    .new-navbar .navbar-nav>li>a:hover,.new-navbar .navbar-nav>li>a:focus,.new-navbar .navbar-nav .dropdown-menu>li>a:hover,.new-navbar .navbar-nav .dropdown-menu>li>a:focus{
        background-color:#f0f0f0;
        color:#333
    }
    .new-navbar .dropdown>.dropdown-toggle,.new-navbar .dropdown-menu>.dropdown-header{
        background-color:transparent !important;
        color:#9d9d9d !important;
        cursor:default;
        font-size:0.8em;
        text-transform:uppercase;
        border-bottom:none;
        padding-bottom:0
    }
    .new-navbar .dropdown-toggle .caret{
        display:none
    }
    .new-navbar .dropdown-menu{
        display:block
    }
    .new-navbar.navbar-inverse .navbar-collapse,.new-navbar.navbar-inverse .navbar-nav>li>a,.new-navbar.navbar-inverse .navbar-form,.new-navbar.navbar-inverse .navbar-nav .dropdown-menu{
        border-color:#363636
    }
    .new-navbar.navbar-inverse .divider{
        background-color:#363636
    }
    .new-navbar.navbar-inverse .navbar-nav .dropdown-menu>li>a{
        color:#9d9d9d
    }
    .new-navbar.navbar-inverse .navbar-nav .dropdown-menu>.active>a{
        background-color:#090909;
        color:#fff
    }.new-navbar.navbar-inverse .navbar-nav>li:not(.active)>a:hover,.new-navbar.navbar-inverse .navbar-nav>li:not(.active)>a:focus,.new-navbar.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:hover,.new-navbar.navbar-inverse .navbar-nav .dropdown-menu>li:not(.active)>a:focus{
             background-color:#2f2f2f;
             color:#fff
         }
    .new-navbar.navbar-inverse .dropdown>.dropdown-toggle{
        color:#777777 !important
    }
}